@font-face {
  font-family: inter;
  src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: interBold;
  src: url("../fonts/Inter-Bold.ttf");
}

:root {
  --orange: #ff7b54;
  --white: #ffffff;
  --font: inter;
}

body {
  background-color: var(--orange);
  color: var(--white);
  font-family: var(--font);
}
.main{
  padding: 150px;
}
/* Links styling */
a {
  text-decoration: inherit;
  color: inherit;
}
.header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav shopping-cart";
  align-items: center;
  padding: 0 60px;
}

.header_link {
  font-size: 40px;
  font-weight: bold;
}
.header img {
  grid-area: shopping-cart;
}

.nav {
  display: inline-block;
  justify-self: end;
}

.nav_list {
  list-style: none;
  display: flex;
}

.nav_list-item {
  margin-right: 36px;
  font-size: 20px;
}

h2, 
p {
  margin: 0;
}

.body-primary {
  background-color: var(--orange);
  color: var(--white);
}
.body-secondary {
  background-color: var(--white);
  color: var(--orange);
}

